    <div class="reservation">
    <form (ngSubmit)="onReservationSubmit()" #reservationForm="ngForm">
        
        <div class="form-group">
            <!-- <label for="type">Type</label>
            <select class="form-control" id="type"
                    required
                    [(ngModel)]="reservation.type" name="type"
                    #type="ngModel" required>
                <option *ngFor="let type of reservationTypes" [value]="type">{{type}}</option>
            </select> -->
            <!-- <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                type is required
            </div> -->

            <mat-form-field>
                <mat-select placeholder="Type">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let type of reservationTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
   
        <div class="form-group" >
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date"
                [(ngModel)]="reservation.attributes.date_time" name="date" required>
        </div>

        <div class="form-group">
            <!-- <label for="start">Slot Start</label>
            <select class="form-control" id="start"
                    required
                    [(ngModel)]="reservation.attributes.slot_start" name="start"
                    #start="ngModel">
                <option *ngFor="let openHour of openHours" [value]="openHour">{{openHour}}</option>
            </select> -->
            <!-- <div [hidden]="start.valid || start.pristine" class="alert alert-danger">
                Slot Begin is required
            </div> -->

            <mat-form-field>
                    <mat-select placeholder="Slot Start">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let openHour of openHours" [value]="openHour">{{openHour}}</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>

            <div class="form-group">
                    <!-- <label for="end">Slot End</label>
                    <select class="form-control" id="end"
                            required
                            [(ngModel)]="reservation.attributes.slot_end" name="end"
                            #end="ngModel">
                        <option *ngFor="let openHour of openHours" [value]="openHour">{{openHour}}</option>
                    </select> -->
                    <!-- <div [hidden]="end.valid || end.pristine" class="alert alert-danger">
                        Slot End is required
                    </div> -->

                    <mat-form-field>
                            <mat-select placeholder="Slot End">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let openHour of openHours" [value]="openHour">{{openHour}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>

            <div class="form-group">
                <!-- <label for="guest_count">Guest Count</label>
                <input type="number" class="form-control" id="guest_count"
                [(ngModel)]="reservation.attributes.guest_count" name="guest_count" required> -->

                
            </div>
   
            <div class="form-group">
                <label for="table">Table</label>
                <select class="form-control" id="table"
                        required
                        [(ngModel)]="reservation.attributes.table_number" name="table"
                        #table="ngModel">
                    <option *ngFor="let table of tableList" [value]="table">{{table}}</option>
                </select>
                <!-- <div [hidden]="table.valid || table.pristine" class="alert alert-danger">
                    Table is required
                </div> -->
            </div>

            <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="text" class="form-control" id="mobile"
                [(ngModel)]="reservation.attributes.guest_mobile_num" name="mobile">
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                [(ngModel)]="reservation.attributes.contact_details.name" name="name">
                </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"
                [(ngModel)]="reservation.attributes.contact_details.email" name="email">
                </div>

            <div class="form-group">
                <!-- <label for="tags">Tags:</label>
                <div *ngFor="let tag of tags">
                    <label>
                        <input type="checkbox"
                                name="tags"
                                value="{{tag.name}}"
                                [(ngModel)]="tag.checked"/>
                        {{tag.name}}
                    </label>
                </div> -->
                <mat-form-field>
                    <mat-select placeholder="Tags" [formControl]="tagForm" multiple>
                        <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status"
                        [(ngModel)]="reservation.attributes.status" name="status"
                        #status="ngModel">
                    <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                </select>
             
            </div>
            <div>
                <span>
                        <button type="button" class="btn btn-warning" (click)="hideCreateReservationForm()">Cancel</button>

                </span>
                <span>
                        <button type="submit" class="btn btn-success" [disabled]="!reservationForm.form.valid">Submit</button>
                </span>
            </div>
    </form> 


</div>