<div style="text-align: center;">
  {{currentDate}}
  <table class="table table-hover" style="padding:10px;">
    <tr>
      <td>
        <table class="table table-hover">
          <tr>
            <td></td>
          </tr>
          <ng-container *ngFor="let table of tables">
            <tr>
              <th>{{table.id}}</th>
            </tr>
          </ng-container>
        </table>
      </td>
      <td>
        <table class="table table-hover" id="tableReservations">
          <thead>
            <tr>
              <ng-container *ngFor="let hour of openHours"> 
                <th>
                  {{hour}}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody >
            <ng-container *ngFor="let tablesReservation of tablesReservations">
              <tr>
                <ng-container *ngFor="let reservation of tablesReservation.slot; let i=index"
                 >
                  <td (click)="trackMouse($event, tablesReservation['tableId'], i)">
                    <ng-container *ngIf="reservation != 0">
                      <!-- {{reservation}} -->
                      <app-tile [reservation_id]="reservation"></app-tile>
                      <div *ngIf="showForm">
                        <!-- <app-create-reservation></app-create-reservation> -->
                      </div>
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>