<div>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TRMS</a>
            </div>
            <div class="nav navbar-nav">
                <ul class="nav navbar-nav navbar-left">
                        <li><a href="#"> {{currentDate | date}}</a></li>
                        <li><a href="#"> {{currentDate | date: 'E'}}</a></li>
                </ul>
                                        
                <button class="btn btn-primary navbar-btn">Prev</button>
                <button class="btn btn-default">Today</button>
                <button class="btn btn-primary">Next</button>
                
                <span class="dropdown">
                    <button (click)="createReservation()" class="btn btn-info dropdown-toggle" type="button"
                    id="createReservationButton" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" >Create Reservation </button>

                    <div class="reservation dropdown-menu" aria-labelledby="createReservationButton" id="createReservationForm">
                            <form (ngSubmit)="onReservationSubmit()" #reservationForm="ngForm">
                                
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select class="form-control" id="type"
                                            required
                                            [(ngModel)]="reservation.type" name="type"
                                            #type="ngModel" required>
                                        <option *ngFor="let type of reservationTypes" [value]="type">{{type}}</option>
                                    </select>
                                    <!-- <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                                        type is required
                                    </div> -->
                                </div>
                           
                                <div class="form-group" >
                                    <label for="date">Date</label>
                                    <input type="date" class="form-control" id="date"
                                        [(ngModel)]="reservation.attributes.date_time" name="date" required>
                                </div>
            
                                <div class="form-group">
                                    <label for="start">Slot Start</label>
                                    <select class="form-control" id="start"
                                            required
                                            [(ngModel)]="reservation.attributes.slot_start" name="start"
                                            #start="ngModel">
                                        <option *ngFor="let openHour of openHours" [value]="openHour">{{openHour}}</option>
                                    </select>
                                    <!-- <div [hidden]="start.valid || start.pristine" class="alert alert-danger">
                                        Slot Begin is required
                                    </div> -->
                                </div>
            
                                    <div class="form-group">
                                            <label for="end">Slot End</label>
                                            <select class="form-control" id="end"
                                                    required
                                                    [(ngModel)]="reservation.attributes.slot_end" name="end"
                                                    #end="ngModel">
                                                <option *ngFor="let openHour of openHours" [value]="openHour">{{openHour}}</option>
                                            </select>
                                            <!-- <div [hidden]="end.valid || end.pristine" class="alert alert-danger">
                                                Slot End is required
                                            </div> -->
                                        </div>
            
                                    <div class="form-group">
                                        <label for="guest_count">Guest Count</label>
                                        <input type="number" class="form-control" id="guest_count"
                                        [(ngModel)]="reservation.attributes.guest_count" name="guest_count" required>
                                    </div>
                           
                                    <div class="form-group">
                                        <label for="table">Table</label>
                                        <select class="form-control" id="table"
                                                required
                                                [(ngModel)]="reservation.attributes.table_number" name="table"
                                                #table="ngModel">
                                            <option *ngFor="let table of tableList" [value]="table">{{table}}</option>
                                        </select>
                                        <!-- <div [hidden]="table.valid || table.pristine" class="alert alert-danger">
                                            Table is required
                                        </div> -->
                                    </div>
            
                                    <div class="form-group">
                                        <label for="mobile">Mobile</label>
                                        <input type="text" class="form-control" id="mobile"
                                        [(ngModel)]="reservation.attributes.guest_mobile_num" name="mobile">
                                    </div>
            
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name"
                                        [(ngModel)]="reservation.attributes.contact_details.name" name="name">
                                        </div>
            
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email"
                                        [(ngModel)]="reservation.attributes.contact_details.email" name="email">
                                        </div>
               
                                    <div class="form-group">
                                        <label for="tags">Tags:</label>
                                        <div *ngFor="let tag of tags">
                                            <label>
                                                <input type="checkbox"
                                                        name="tags"
                                                        value="{{tag.name}}"
                                                        [(ngModel)]="tag.checked"/>
                                                {{tag.name}}
                                            </label>
                                        </div>
                                    
                                    </div>
             
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" id="status"
                                                [(ngModel)]="reservation.attributes.status" name="status"
                                                #status="ngModel">
                                            <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                                        </select>
                                     
                                    </div>
                                    <div>
                                        <span>
                                                <button type="button" class="btn btn-warning" (click)="hideCreateReservationForm()">Cancel</button>
            
                                        </span>
                                        <span>
                                                <button type="submit" class="btn btn-success" [disabled]="!reservationForm.form.valid">Submit</button>
                                        </span>
                                    </div>
                            </form> 
                 
                 
                       </div>
                </span>

                <span class="dropdown">
                    <button (click)="addTable()" class="btn btn-basic dropdown-toggle" type="button"
                     id="addTableButton" data-toggle="dropdown" aria-haspopup="true" 
                     aria-expanded="false" >Add Table </button>


            <div class="dropdown-menu addtable" aria-labelledby="addTableButton" id="addtableform">
                    <form (ngSubmit)="onTableSubmit()" #tableForm="ngForm" >
                            <div class="form-group">
                                <label for="section">Section</label>
                                <select class="form-control" id="section"
                                        required
                                        [(ngModel)]="table.section" name="section"
                                        #section="ngModel">
                                    <option *ngFor="let section of sections" [value]="section">{{section}}</option>
                                </select>
                                <!-- <div [hidden]="section.valid || section.pristine" class="alert alert-danger">
                                    section is required
                                </div> -->
                            </div>
                            <div class="form-group ">
                                <label for="capacity">Capacity</label>
                                <select class="form-control" id="capacity"
                                        required
                                        [(ngModel)]="table.capacity" name="capacity"
                                        #capacity="ngModel">
                                <option *ngFor="let capacity of capacities" [value]="capacity">{{capacity}}</option>
                                </select>
                                <!-- <div [hidden]="capacity.valid || capacity.pristine" class="alert alert-danger">
                                    capacity is required
                                </div> -->
                            </div>
                            <div>
                                <span>
                                        <button type="button" class="btn btn-warning" (click)="hideAddTableForm()">Cancel</button>
    
                                </span>
                                <span>
                                        <button type="submit" class="btn btn-success"
                                        [disabled]="!tableForm.form.valid"
                                        >Submit</button>
                                </span>
                            </div>
                          
                         
                    </form> 
                </div>
                </span>
            </div>
        </div>
    </nav>
    

        

</div>
