<div>
  <div>
      {{currentDate | date}}

  </div>
  <div>
      {{currentDate | date: 'E'}}

  </div>
  <div>
      <button class="btn btn-primary">Prev</button>
      <button class="btn btn-default">Today</button>
      <button class="btn btn-primary">Next</button>
  </div>
  <div>
    <button (click)="createReservation()" class="btn btn-info">Create Reservation </button>
    <button (click)="addTable()" class="btn btn-basic">Add Table </button>
  </div>
  <div *ngIf="showAddTableForm">
      <div style="width: 15%; border:1px solid rgb(216, 214, 214); padding: 5px; border-radius: 5px;">
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <div class="form-group">
                    <label for="section">Section</label>
                    <select class="form-control" id="section"
                            required
                            [(ngModel)]="table.section" name="section"
                            #section="ngModel">
                        <option *ngFor="let section of sections" [value]="section">{{section}}</option>
                    </select>
                    <div [hidden]="section.valid || section.pristine" class="alert alert-danger">
                            section is required
                    </div>
                </div>
             
              
                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <select class="form-control" id="capacity"
                            required
                            [(ngModel)]="table.capacity" name="capacity"
                            #capacity="ngModel">
                    <option *ngFor="let capacity of capacities" [value]="capacity">{{capacity}}</option>
                    </select>
                    <div [hidden]="capacity.valid || capacity.pristine" class="alert alert-danger">
                        capacity is required
                    </div>
                </div>
            
                <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
                </form> 
      </div>
   
    </div>
    <div *ngIf="showReservationForm">
        <div style="width: 15%; border:1px solid rgb(216, 214, 214); padding: 5px; border-radius: 5px;">
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <div class="form-group">
                        <label for="section">Section</label>
                        <select class="form-control" id="section"
                                required
                                [(ngModel)]="table.section" name="section"
                                #section="ngModel">
                        <option *ngFor="let section of sections" [value]="section">{{section}}</option>
                        </select>
                        <div [hidden]="section.valid || section.pristine" class="alert alert-danger">
                                section is required
                        </div>
                    </div>
        
        
                <div class="form-group">
                <label for="capacity">Capacity</label>
                <select class="form-control" id="capacity"
                        required
                        [(ngModel)]="table.capacity" name="capacity"
                        #capacity="ngModel">
                    <option *ngFor="let capacity of capacities" [value]="capacity">{{capacity}}</option>
                </select>
                <div [hidden]="capacity.valid || capacity.pristine" class="alert alert-danger">
                        capacity is required
                </div>
                </div>
        
                <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
            </form>
        </div>
     
    </div>
</div>
