.addtable {
    width: 180px;
    height: 200px;
    border:1px solid rgb(216, 214, 214); 
    padding: 15px; 
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;


    // form {
    //     height: 80%;
    //     .e {
    //         margin: 5px;
    //         width: 65px;
    //         float: left;
    //     }
    // }
}
